<ion-content [fullscreen]="true">
  <ion-card>
    <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
    <img alt="SUBSCRIBE" src="../../assets/wallpaperflare.com_wallpaper.jpg" />

    <ion-card-header>
      <ion-card-title>Naruto</ion-card-title>
      <ion-card-subtitle>Naruto Shippuden</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Naruto Shippuden adalah sebuah seri anime dan manga yang merupakan sekuel dari Naruto, karya Masashi Kishimoto.
      Serial ini mengikuti perjalanan karakter utama, Naruto Uzumaki, setelah ia dewasa dan memasuki fase remaja. Naruto
      Shippuden fokus pada petualangan Naruto dalam pencarian untuk menyelamatkan temannya, Sasuke Uchiha, yang telah
      meninggalkan desa mereka, Konohagakure, untuk mencari kekuatan yang lebih besar.
    </ion-card-content>
  </ion-card>
</ion-content>