<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Data Ninja</ion-card-title>
      <ion-card-subtitle>Hasil Input Data Ninja</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          Kode Ninja: {{nip}}
        </ion-item>
        <ion-item>
          Nama Ninja: {{nama}}
        </ion-item>
        <ion-item>
          Kemampuan: {{kemampuan}}
        </ion-item>
        <ion-item>
          Pangkat: {{gol}}
        </ion-item>
        <ion-item>
          Tanggal Lahir: {{tgllhr}}
        </ion-item>
        <ion-item>
          Jenis Kelamin: {{jnskel}}
        </ion-item>
        <ion-item>
          Misi Favorit: {{jnstun}}
        </ion-item>
        <ion-item>
          Bayaran: Rp{{gaji}}
        </ion-item>
      </ion-list>
      <ion-button expand="block" shape="full" color="light" (click)="refresh()">Refresh </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>